@model EventApp.Models.Events
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = $"Edit: {Context.Session.GetString("eventTitle")}";

}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 class="text-center font-weight-bold text-uppercase text-primary ">@ViewData["Title"]</h2><hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="EventTitle" class="control-label"></label>
                <input asp-for="EventTitle" class="form-control" />
                <span asp-validation-for="EventTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture"/>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" class="control-label"></label>
                <input asp-for="EventDescription" class="form-control" />
                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventContact" class="control-label"></label>
                <input asp-for="EventContact" class="form-control" />
                <span asp-validation-for="EventContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventLink" class="control-label"></label>
                <input asp-for="EventLink" class="form-control" />
                <span asp-validation-for="EventLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventAddress" class="control-label"></label>
                <input asp-for="EventAddress" class="form-control" />
                <span asp-validation-for="EventAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
        </form>

    </div>
    <div class="col-md-3"></div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
